<p id="notice"><%= notice %></p>

<h1 class="ui dividing header">Groups</h2>

<div class="ui accordion">
  <% @groups.each do |group| %>
    <div class="ui raised very padded text container segment">
      <div class="title">
        <h2 class="ui header"><%= group.name %></h2>
        <i class="dropdown icon"></i>
        Click to see details:
      </div>
      <div class="content">
        <p><strong><%= group.private_or_public %></strong></p>
        <p><strong>Balance: </strong><%= number_to_currency(group.balance)%></p>
        <%= render partial: "groups/embed_code", locals: {group_id: group.id, group_url: group_url(group.id)} %>
      </div>
    </div>
  <% end %>
</div>